@import url("./root-variables.css");

/* custom fonts */

@font-face {
  font-family: "Bold-Samsung One";
  src: url("../assets/fonts/SAMSUNGONE-700.TTF");
}

@font-face {
  font-family: "Regular-Samsung One";
  src: url("../assets/fonts/SAMSUNGONE-400.TTF");
}

@font-face {
  font-family: "Bold-Samsung Sharp Sans";
  src: url("../assets/fonts/SAMSUNGSHARPSANS-BOLD.OTF");
}

@font-face {
  font-family: "Medium-Samsung Sharp Sans";
  src: url("../assets/fonts/SAMSUNGSHARPSANS-MEDIUM.OTF");
}

/* vars */
:root {
  /* colors */
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-dark-gold: #c99f52;
  --color-light-gold: #f2d88a;

  /* fonts */
  --font-size-mobile-h1: 3.6rem;
  --font-size-mobile-h2: 2rem;
  --font-size-mobile-h3: 1.8rem;
  --font-size-mobile-p1: 2rem;
  --font-size-mobile-p2: 1.8rem;
  --font-size-desktop-h1: 6.4rem;
  --font-size-desktop-h2: 4rem;
  --font-size-desktop-h3: 2.4rem;
  --font-size-desktop-p1: 2.8rem;
  --font-size-desktop-p2: 2rem;

  /* shadows & borders*/
  --shadow-cards: 0px 1px 10px 3px rgba(104, 88, 1, 0.12);
  --border-cards: 18px;
}

/* reset default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* rem hack */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* general styles */
body {
  font-size: 16px;
  font-family: "Bold-Samsung Sharp Sans";
}

.section__container {
  padding: 0 1.6rem;
}

img {
  width: 100%;
}

h1 {
  font-size: var(--font-size-mobile-h1);
}

h2 {
  font-size: var(--font-size-mobile-h2);
}

h3 {
  font-size: var(--font-size-mobile-h3);
}

p {
  font-family: "Regular-Samsung One";
  font-size: var(--font-size-mobile-p1);
}

.p2__text {
  font-size: var(--font-size-mobile-p2);
}

@media (min-width: 992px) {
  .section__container {
    padding: 0 16rem;
  }

  h1 {
    font-size: var(--font-size-desktop-h1);
  }

  h2 {
    font-size: var(--font-size-desktop-h2);
  }

  h3 {
    font-size: var(--font-size-desktop-h3);
  }

  p {
    font-family: "Regular-Samsung One";
    font-size: var(--font-size-desktop-p1);
  }

  .p2__text {
    font-size: var(--font-size-desktop-p2);
  }
}

/* hero section */

.hero__container {
  height: 84vh;
  background-image: url("../assets/brushes/brushes.png");
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
}

.hero__images {
  height: 70%;
  position: relative;
}

.icons__3d {
  width: 22%;
  position: absolute;
}

.mobile__hero1 {
  width: 20%;
  position: absolute;
}

.mobile__hero2 {
  width: 30%;
  position: absolute;
}

.img__position5 {
  right: -2rem;
  bottom: 9rem;
  transform: rotate(-49deg);
  animation: float 5s infinite ease-in-out;
}

.img__position4 {
  right: 2.4rem;
  top: 16rem;
  animation: float2 5s infinite ease-in-out;
}

.img__position2 {
  left: 11rem;
  top: 12rem;
  animation: float 5s infinite ease-in-out;
}

.img__position3 {
  left: 9rem;
  bottom: 10rem;
  animation: float2 5s infinite ease-in-out;
}

.img__position1 {
  width: 18%;
  left: 0rem;
  bottom: 20rem;
  animation: float 5s infinite ease-in-out;
}

.hero__heading {
  margin-bottom: 1.6rem;
}

.hero__text {
  text-align: center;
}

@media (min-width: 992px) {
  .hero__container {
    display: flex;
    padding: 0 0 0 16rem;
    margin-bottom: 6rem;
    align-items: center;
  }

  .hero__text {
    text-align: left;
    width: 30%;
  }

  .hero__images {
    width: 70%;
    order: 1;
    height: 100%;
  }

  .icons__3d {
    width: 18%;
  }

  .mobile__hero1 {
    width: 18%;
  }

  .mobile__hero2 {
    width: 23%;
  }

  .img__position1 {
    width: 12%;
    left: 1rem;
    bottom: 22rem;
    transform: rotate(80deg);
  }

  .img__position2 {
    left: 39rem;
    top: 3rem;
    transform: rotate(-22deg);
  }

  .img__position3 {
    left: 28rem;
    bottom: 10rem;
  }

  .img__position4 {
    right: 11rem;
    top: 10rem;
  }
  .img__position5 {
    right: 5rem;
    bottom: 6rem;
    transform: rotate(-49deg);
  }
}

/* smartphones, tablets and wearable section */

.subtitle__container {
  position: relative;
  margin-bottom: 6rem;
}

.subtitle {
  padding-left: 1.5rem;
}

.subtitle::before {
  content: "";
  background-image: linear-gradient(#c99f52, #eace7c, #c99f52);
  border-radius: 25px;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  left: 0;
}

.card {
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5.97332px);
  box-shadow: var(--shadow-cards);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  overflow: hidden;
  margin-bottom: 1.6rem;
  width: 100%;
  z-index: 100;
  cursor: pointer;
}

.card:hover .bigimg_card {
  transform: translate(0, 84rem) rotate(0) scale(1.4);
}

.card:hover .hover__bkg {
  opacity: 1;
}

.card:hover .card__text {
  color: var(--color-white);
}

.hover__bkg {
  position: absolute;
  background-image: linear-gradient(#00000000, #0000003d, #000000e7);
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.card-img__container {
  width: 40%;
  margin: 0 auto;
  position: relative;
}

.bigimg_card {
  transform: rotate(35deg) translate(-1.4rem, 4rem);
  transition: all 0.6s ease-in-out;
}

.hidden__img {
  position: absolute;
  top: -70rem;
  transform: translateX(22rem) rotate(35deg);
}

.card__text {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  z-index: 100;
}

.p2__text-padding {
  padding-bottom: 1.4rem;
}

.little-cards__container {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
  position: relative;
}

.little__card {
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5.97332px);
  box-shadow: var(--shadow-cards);
  overflow: hidden;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  cursor: pointer;
  z-index: 100;
  position: relative;
}

.little__card:hover .little__img {
  transform: translate(2rem, 60rem) rotate(0) scale(1.4);
}

.little__card:hover .hover__bkg {
  opacity: 1;
}

.little__card:hover .card__text2 {
  color: var(--color-white);
}

.little-img__container {
  width: 48%;
  padding-bottom: 1.4rem;
}

.hidden__little-img {
  width: 40%;
  position: absolute;
  top: -52rem;
  transform: translateX(22rem) rotate(35deg);
  transition: all 0.6s ease-in-out;
}

.little__img {
  transition: all 0.6s ease-in-out;
}

.card__text2 {
  text-align: center;
  z-index: 100;
}

.watch1 {
  width: 130%;
  transform: rotate(115deg) translate(13rem, 4rem);
}

.bkg__img1 {
  width: 40%;
  position: absolute;
  right: -6rem;
  bottom: -14rem;
  transform: rotate(-10deg);
}

.bkg__img2 {
  width: 40%;
  position: absolute;
  left: -6rem;
  bottom: -11rem;
  transform: rotate(35deg);
}

.bkg__img3 {
  width: 45%;
  position: absolute;
  right: -8rem;
  bottom: -18rem;
  transform: scaleX(-1) rotate(28deg);
}

@media (min-width: 992px) {
  .subtitle::before {
    width: 1.2rem;
  }

  .subtitle {
    padding-left: 2.4rem;
  }

  .cards__container {
    display: flex;
    gap: 3rem;
  }

  .card {
    width: 80%;
    height: 34rem;
    margin-bottom: 3rem;
  }

  .little-cards__container {
    gap: 3rem;
  }

  .little__card {
    height: 34rem;
  }

  .watch1 {
    transform: rotate(105deg) translate(18rem, 4rem);
  }

  .bkg__img1 {
    width: 20%;
    right: -23rem;
    bottom: -32rem;
  }

  .bkg__img2 {
    left: -72rem;
    bottom: -38rem;
    transform: rotate(39deg);
  }

  .bkg__img3 {
    right: -26rem;
    bottom: -38rem;
  }
}
